<div class="container">
  <h1>All Articles</h1>

  <div class="articles-description">
  <% @articles.each do |article| %>
    <div class="article-desc">
    <h2 class="article-name"><%= link_to article.title, article_path(article) %></h2>
    <p class="article-name"><%= link_to article.subtitle, article_path(article) %></p>
    </div>
  <% end %>
  </div>

  <p><%= link_to "Add article", new_article_path %></p>
</div>
